@font-face {
	font-family: 'King-Berry';
	src:url('../fonts/King-Berry.eot');
	src:url('../fonts/King-Berry.eot?#iefix') format('embedded-opentype'),
		url('../fonts/King-Berry.woff') format('woff'),
		url('../fonts/King-Berry.ttf') format('truetype'),
		url('../fonts/King-Berry.svg#King-Berry') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'King-Berry';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-phone:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-news:before {
	content: "\e604";
}
.icon-browser:before {
	content: "\e605";
}
.icon-triangle-down:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-icon_23896:before {
	content: "\e608";
}
.icon-icon_23898:before {
	content: "\e609";
}
.icon-icon_23903:before {
	content: "\e60a";
}
.icon-calendar:before {
	content: "\e60b";
}
